@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Style partagé entre les pages */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
}

label {
    font-weight: 500;
    color: #666;
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f7f7f7;
    font-size: 14px;
    transition: all 0.3s ease;
    color: #333;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid #007bff;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.1);
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-top: 12px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.toggle-btn {
    background-color: transparent;
    color: #007bff;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #007bff;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 15px;
}

.toggle-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
